version: "3.8"

services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb_iot
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb-data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin123
      - DOCKER_INFLUXDB_INIT_ORG=UIE
      - DOCKER_INFLUXDB_INIT_BUCKET=iot_home
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=MI_SUPER_TOKEN_IOT

  grafana:
    image: grafana/grafana:10.0.0
    container_name: grafana_iot
    ports:
      - "3000:3000"
    volumes:
      - ./grafana-data:/var/lib/grafana
    depends_on:
      - influxdb
      